body {
    background-color: rgb(89, 63, 136);
  }


h1{
    color: rgb(223, 117, 255);
    font-family:American Typewriter, serif;
    font-size: 40px;
    padding-left: 20px;	
}

h2{
    color: rgb(232, 209, 255);
    padding-left: 20px;	
}

/*Afbeelding: bron: https://www.dictionary.com/e/emoji/raised-hand/*/
body header img{
    width: 50%;
    padding-left: 40px;
}

/*Naam formulier*/
input[type=text], select {
  width: 20%;
  padding: 1px 20px;
  margin: 8px ;
  display: inline-block;
  border: 1px solid rgb(105, 69, 190);
  border-radius: 20px;
  box-sizing: border-box;
}


div {
  border-radius: 5px;
  padding: 20px;
}



