body {
    background-color: #bd88f8;
}

h1 {
    color: #db0084;
    font-family: American Typewriter, serif;
    font-size: 40px;
    padding-left: 20px;
    padding-top: 0px;
    margin-top: 0px;
}

h2 {
    color: rgb(232, 209, 255);
    padding-left: 20px;
}



/*Afbeelding: bron: https://www.freepik.com/free-vector/set-hands_4015405.htm#query=hand&position=1&from_view=search&track=sph*/
.hand {
    width: 34%;
    padding-left: 40px;
    padding-top: 7px;
}


/*Naam formulier*/
input {
    width: 20%;
    border-radius: 50px;
    border: none;
    padding: 3px;
    padding-left: 20px;
    margin-left: 20px;
    padding-top: 2px;
}


.jouwnaam{
    color: #dd349a;
    font-family: American Typewriter, serif;
    font-size: 40px;
    padding-left: 20px;
    padding-top: 0px;
    margin-top: 0px;
}

button{
    background-color: rgb(201, 0, 201);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px;
    
}
/* eind naam formulier*/


/*positie nagellakjes*/
.nagellakoranje{
    position: absolute;
    width: 100px;
    margin: -150px 0px 0px 50px;
}

.nagellakgroen {
    position: absolute;
    width: 100px;
    margin: -150px 10px 100px 220px;
}

.nagellakblauw{
    position: absolute;
    width: 100px;
    margin: -150px 10px 100px 390px;
}

.nagellakroze{
    position: absolute;
    width: 100px;
    margin: -150px 0px 100px 560px;
}
/* eind positie nagellakjes*/

/*positie decoratie*/
/*bron:https://steven-universe-dutch.fandom.com/nl/wiki/Parel*/
.diamand {
    width: 80%;
    position: absolute;
    width: 100px;
    margin: 120px 0px 100px 50px;
}

/*bronhttps://www.springersjewelers.com/products/add-a-pearls */
.parel{
    width: 80%;
    position: absolute;
    width: 100px;
    margin: 120px 10px 100px 220px;
}

/*bronhttps://madeformoments.nl/product/sluitzegel-hartje-goud */
.goud{
    width: 80%;
    position: absolute;
    width: 100px;
    margin: 120px 10px 100px 390px;
}

/*bron https://www.google.com/search?q=cupcake+&tbm=isch&ved=2ahUKEwjjxsm5qfb7AhW9xbsIHfFbCDgQ2-cCegQIABAA&oq=cupcake+&gs_lcp=CgNpbWcQAzIECAAQQzIFCAAQgAQyBQgAEIAEMgQIABBDMgQIABBDMgQIABBDMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoECCMQJzoICAAQgAQQsQM6BAgAEAM6BwgAELEDEENQrAZYzQ5gnxBoAHAAeACAATaIAZ4DkgEBOZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=k0uYY6OxGr2L7_UP8behwAM&bih=820&biw=1440&hl=nl*/
.cupcake{
    width: 80%;
    position: absolute;
    width: 100px;
    margin: 120px 10px 100px 560px;
}

/*eind positie decoratie*/
/*bron https://www.flaticon.com/free-icon/girl_2423853?term=girl&related_id=2423853 */
.hulpPop{
    width: 400px;
    margin-left: 380px;
    margin-top: -30px;
}
/*random tekst*/
.tekst{
    margin-left: 565px;
    margin-top: -100px;
    padding-top: -600px;
    font-size: 40px;
    font-family: American Typewriter, serif;
    color: rgb(110, 0, 173);
    font-weight:normal;
}
/*eind random tekst*/

